/* ****************************************************************** */


/* HOLISTIC */

@font-face {
    font-family: 'Raleway';
    src: url('./fonts/Raleway-ExtraLightItalic.eot');
    src: local('Raleway ExtraLight Italic'), local('Raleway-ExtraLightItalic'), url('./fonts/Raleway-ExtraLightItalic.eot?#iefix') format('embedded-opentype'), url('./fonts/Raleway-ExtraLightItalic.woff2') format('woff2'), url('./fonts/Raleway-ExtraLightItalic.woff') format('woff'), url('./fonts/Raleway-ExtraLightItalic.ttf') format('truetype'), url('./fonts/Raleway-ExtraLightItalic.svg#Raleway-ExtraLightItalic') format('svg');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('./fonts/Raleway-MediumItalic.eot');
    src: local('Raleway Medium Italic'), local('Raleway-MediumItalic'), url('./fonts/Raleway-MediumItalic.eot?#iefix') format('embedded-opentype'), url('./fonts/Raleway-MediumItalic.woff2') format('woff2'), url('./fonts/Raleway-MediumItalic.woff') format('woff'), url('./fonts/Raleway-MediumItalic.ttf') format('truetype'), url('./fonts/Raleway-MediumItalic.svg#Raleway-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('./fonts/Raleway-LightItalic.eot');
    src: local('Raleway Light Italic'), local('Raleway-LightItalic'), url('./fonts/Raleway-LightItalic.eot?#iefix') format('embedded-opentype'), url('./fonts/Raleway-LightItalic.woff2') format('woff2'), url('./fonts/Raleway-LightItalic.woff') format('woff'), url('./fonts/Raleway-LightItalic.ttf') format('truetype'), url('./fonts/Raleway-LightItalic.svg#Raleway-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('./fonts/Raleway-Bold.eot');
    src: local('Raleway Bold'), local('Raleway-Bold'), url('./fonts/Raleway-Bold.eot?#iefix') format('embedded-opentype'), url('./fonts/Raleway-Bold.woff2') format('woff2'), url('./fonts/Raleway-Bold.woff') format('woff'), url('./fonts/Raleway-Bold.ttf') format('truetype'), url('./fonts/Raleway-Bold.svg#Raleway-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('./fonts/Raleway-BlackItalic.eot');
    src: local('Raleway Black Italic'), local('Raleway-BlackItalic'), url('./fonts/Raleway-BlackItalic.eot?#iefix') format('embedded-opentype'), url('./fonts/Raleway-BlackItalic.woff2') format('woff2'), url('./fonts/Raleway-BlackItalic.woff') format('woff'), url('./fonts/Raleway-BlackItalic.ttf') format('truetype'), url('./fonts/Raleway-BlackItalic.svg#Raleway-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('./fonts/Raleway-Light.eot');
    src: local('Raleway Light'), local('Raleway-Light'), url('./fonts/Raleway-Light.eot?#iefix') format('embedded-opentype'), url('./fonts/Raleway-Light.woff2') format('woff2'), url('./fonts/Raleway-Light.woff') format('woff'), url('./fonts/Raleway-Light.ttf') format('truetype'), url('./fonts/Raleway-Light.svg#Raleway-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('./fonts/Raleway-Thin.eot');
    src: local('Raleway Thin'), local('Raleway-Thin'), url('./fonts/Raleway-Thin.eot?#iefix') format('embedded-opentype'), url('./fonts/Raleway-Thin.woff2') format('woff2'), url('./fonts/Raleway-Thin.woff') format('woff'), url('./fonts/Raleway-Thin.ttf') format('truetype'), url('./fonts/Raleway-Thin.svg#Raleway-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('./fonts/Raleway-ExtraBold.eot');
    src: local('Raleway ExtraBold'), local('Raleway-ExtraBold'), url('./fonts/Raleway-ExtraBold.eot?#iefix') format('embedded-opentype'), url('./fonts/Raleway-ExtraBold.woff2') format('woff2'), url('./fonts/Raleway-ExtraBold.woff') format('woff'), url('./fonts/Raleway-ExtraBold.ttf') format('truetype'), url('./fonts/Raleway-ExtraBold.svg#Raleway-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('./fonts/Raleway-SemiBoldItalic.eot');
    src: local('Raleway SemiBold Italic'), local('Raleway-SemiBoldItalic'), url('./fonts/Raleway-SemiBoldItalic.eot?#iefix') format('embedded-opentype'), url('./fonts/Raleway-SemiBoldItalic.woff2') format('woff2'), url('./fonts/Raleway-SemiBoldItalic.woff') format('woff'), url('./fonts/Raleway-SemiBoldItalic.ttf') format('truetype'), url('./fonts/Raleway-SemiBoldItalic.svg#Raleway-SemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('./fonts/Raleway-Italic.eot');
    src: local('Raleway Italic'), local('Raleway-Italic'), url('./fonts/Raleway-Italic.eot?#iefix') format('embedded-opentype'), url('./fonts/Raleway-Italic.woff2') format('woff2'), url('./fonts/Raleway-Italic.woff') format('woff'), url('./fonts/Raleway-Italic.ttf') format('truetype'), url('./fonts/Raleway-Italic.svg#Raleway-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('./fonts/Raleway-Black.eot');
    src: local('Raleway Black'), local('Raleway-Black'), url('./fonts/Raleway-Black.eot?#iefix') format('embedded-opentype'), url('./fonts/Raleway-Black.woff2') format('woff2'), url('./fonts/Raleway-Black.woff') format('woff'), url('./fonts/Raleway-Black.ttf') format('truetype'), url('./fonts/Raleway-Black.svg#Raleway-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('./fonts/Raleway-ThinItalic.eot');
    src: local('Raleway Thin Italic'), local('Raleway-ThinItalic'), url('./fonts/Raleway-ThinItalic.eot?#iefix') format('embedded-opentype'), url('./fonts/Raleway-ThinItalic.woff2') format('woff2'), url('./fonts/Raleway-ThinItalic.woff') format('woff'), url('./fonts/Raleway-ThinItalic.ttf') format('truetype'), url('./fonts/Raleway-ThinItalic.svg#Raleway-ThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('./fonts/Raleway-Regular.eot');
    src: local('Raleway'), local('Raleway-Regular'), url('./fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'), url('./fonts/Raleway-Regular.woff2') format('woff2'), url('./fonts/Raleway-Regular.woff') format('woff'), url('./fonts/Raleway-Regular.ttf') format('truetype'), url('./fonts/Raleway-Regular.svg#Raleway-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('./fonts/Raleway-ExtraLight.eot');
    src: local('Raleway ExtraLight'), local('Raleway-ExtraLight'), url('./fonts/Raleway-ExtraLight.eot?#iefix') format('embedded-opentype'), url('./fonts/Raleway-ExtraLight.woff2') format('woff2'), url('./fonts/Raleway-ExtraLight.woff') format('woff'), url('./fonts/Raleway-ExtraLight.ttf') format('truetype'), url('./fonts/Raleway-ExtraLight.svg#Raleway-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('./fonts/Raleway-BoldItalic.eot');
    src: local('Raleway Bold Italic'), local('Raleway-BoldItalic'), url('./fonts/Raleway-BoldItalic.eot?#iefix') format('embedded-opentype'), url('./fonts/Raleway-BoldItalic.woff2') format('woff2'), url('./fonts/Raleway-BoldItalic.woff') format('woff'), url('./fonts/Raleway-BoldItalic.ttf') format('truetype'), url('./fonts/Raleway-BoldItalic.svg#Raleway-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('./fonts/Raleway-SemiBold.eot');
    src: local('Raleway SemiBold'), local('Raleway-SemiBold'), url('./fonts/Raleway-SemiBold.eot?#iefix') format('embedded-opentype'), url('./fonts/Raleway-SemiBold.woff2') format('woff2'), url('./fonts/Raleway-SemiBold.woff') format('woff'), url('./fonts/Raleway-SemiBold.ttf') format('truetype'), url('./fonts/Raleway-SemiBold.svg#Raleway-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('./fonts/Raleway-ExtraBoldItalic.eot');
    src: local('Raleway ExtraBold Italic'), local('Raleway-ExtraBoldItalic'), url('./fonts/Raleway-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'), url('./fonts/Raleway-ExtraBoldItalic.woff2') format('woff2'), url('./fonts/Raleway-ExtraBoldItalic.woff') format('woff'), url('./fonts/Raleway-ExtraBoldItalic.ttf') format('truetype'), url('./fonts/Raleway-ExtraBoldItalic.svg#Raleway-ExtraBoldItalic') format('svg');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('./fonts/Raleway-Medium.eot');
    src: local('Raleway Medium'), local('Raleway-Medium'), url('./fonts/Raleway-Medium.eot?#iefix') format('embedded-opentype'), url('./fonts/Raleway-Medium.woff2') format('woff2'), url('./fonts/Raleway-Medium.woff') format('woff'), url('./fonts/Raleway-Medium.ttf') format('truetype'), url('./fonts/Raleway-Medium.svg#Raleway-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: block;
    font-family: 'Raleway', sans-serif;
}

title,
style {
    display: none;
}

.border-black {
    border: 1px solid black;
}

.border-red {
    border: 1px solid red;
}

.border-green {
    border: 1px solid green;
}

.border-white {
    border: 1px solid white;
}

.container {
    width: 1000px;
    height: 100%;
    margin: 0 auto;
}

.col-2-layout {}

.col {}

.col-3-layout {
    height: 100%;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}


/* ****************************************************************** */


/* HEADER */

header {
    height: 30px;
    background-color: black;
}

.text-white {
    color: white;
}

.col-2-layout .col {
    width: 50%;
    float: left;
    height: 100%;
}

h1 {
    text-transform: uppercase;
    color: white;
    font-size: 20px;
    font-weight: normal;
}

.turquoise {
    color: #28C5AD;
    font-weight: 1000;
}

h1 span {
    display: inline;
}

nav span {
    text-align: right;
    text-transform: uppercase;
    color: white;
    font-size: 20px;
    font-weight: 600;
}


/* ****************************************************************** */


/* SECTION - SLIDER */

.section-slider {
    height: 500px;
    background: rgba(255, 255, 255, 1);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(212, 212, 212, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(212, 212, 212, 1)));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(212, 212, 212, 1) 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(212, 212, 212, 1) 100%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(212, 212, 212, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(212, 212, 212, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d4d4d4', GradientType=0);
}

#col-2-layout-slider {
    height: 100%;
    width: auto;
    margin-left: 80px;
    margin-right: 80px;
}

#col-2-layout-slider div:first-child {
    width: 40%;
    height: 100%;
    float: left;
}

#col-2-layout-slider div:last-child {
    width: 60%;
    height: 100%;
    float: left;
}

#col-2-layout-slider div:first-child img {
    width: 180%;
    top: 0;
    left: -135px;
    bottom: 0;
    margin: auto;
}

#slider-container {
    height: 50%;
    width: 100%;
    margin: auto;
}

#slider-container span {
    text-transform: uppercase;
    text-align: center;
    font-size: 50px;
    display: inline-block;
}

.inner-span {
    color: #28C5AD;
}

.slider-title {
    text-transform: uppercase;
    text-align: center;
    font-size: 50px;
    color: black;
    font-weight: 900;
    display: block;
}

#slider-container p {
    text-align: center;
}

.div-button {
    width: 100% !important;
    height: auto !important;
}

.slider-paragraph {
    margin-top: 20px;
    font-family: 'Raleway', sans-serif;
    line-height: 25px;
}

.slider-button {
    width: 250px;
    height: 50px;
    background-color: #28C5AD;
    border: none;
    border-radius: 10px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    color: white;
    font-size: 30px;
    font-weight: 700;
}


/* ****************************************************************** */


/* SECTION - PRODUCTS */

.section-products {
    height: 300px;
    background-color: white;
}

.col-3-layout .col {
    width: 33.33%;
    float: left;
    height: 100%;
}

.product-1,
.product-2 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 1px;
}

.product-1 {
    background-image: url("/home/stan/coders-lab/workspace/module-1/workshops/sit-on-chair/images/box1_img.jpg");
}

.product-2 {
    background-image: url("/home/stan/coders-lab/workspace/module-1/workshops/sit-on-chair/images/box2_img.jpg");
}

.section-products .col-3-layout .col {
    padding: 10px;
}

.section-products .col-3-layout {
    margin-left: -10px;
    margin-right: -10px;
}

.article .line {
    width: 150px;
}

.border-gray {
    border: 2px solid #EFF2F2;
    padding: 15px;
    height: 100%;
}


/* ****************************************************************** */


/* SECTION-PRICING */

.section-pricing {
    height: 700px;
    background-color: #EFF2F2;
}

.col-3-layout {
    height: 100%;
    display: block;
}

.wrapper {
    height: 700px;
    max-height: 700px;
}

h2 {
    display: block;
    height: 40px;
    text-transform: uppercase;
    color: rgb(96, 96, 96);
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
}

.calc {
    height: calc(100% - 60px);
}


/* ****************************************************************** */


/* SECTION-CONTACT */

.section-contact {
    height: 500px;
    background-color: white;
}

.col-2-3-layout {}

.col-2-3-layout .col:first-child {
    width: 60%;
    float: left;
    height: 100%;
}

.col-2-3-layout .col:last-child {
    width: 40%;
    float: left;
    height: 100%;
}

#social-and-title .col {
    width: 50%;
    float: left;
    height: 100%;
}

img[alt="red chair"] {
    width: 100%;
}

div.checkbox {
    width: 50px;
    height: 50px;
    border: 2px solid rgb(96, 96, 96);
    border-radius: 5px;
    position: relative;
    background-image: url("/home/stan/coders-lab/workspace/module-1/workshops/sit-on-chair/images/form_ok.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: -1px 5px;
    /* margin-left: 20px; */
    margin-top: 20px;
    float: left;
}

.section-contact span {
    float: left;
    color: rgb(96, 96, 96);
    margin-top: 29px;
    margin-left: 10px;
}

.section-contact button {
    width: 100%;
    height: 50px;
    background-color: #28C5AD;
    border: none;
    border-radius: 10px;
    margin-top: 90px;
    text-transform: uppercase;
    color: white;
    font-size: 30px;
    font-weight: 700;
}

.form-padding {
    padding-right: 50px;
    height: 100%;
}

.form {
    width: 100%;
}

#textarea {
    height: 54%;
    outline: none;
    border: 2px #28C5AD solid;
    color: #EFF2F2;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    resize: none;
    padding-left: 20px;
    padding-top: 20px;
    font-size: 30px;
    border-radius: 5px;
}

#name,
#email {
    height: 40%;
    outline: none;
    border: 2px #28C5AD solid;
    color: #EFF2F2;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    padding-left: 20px;
    border-radius: 5px;
}

#email {
    margin-top: 23px;
}

.vertical-stretch {
    height: 50%;
}

.line {
    width: 33.33%;
    height: 5px;
    background-color: #28C5AD;
    border: none;
    border-radius: 2px;
    margin-bottom: 15px;
}

.section-contact .line {
    margin-bottom: 35px;
}


/* ****************************************************************** */


/* FOOTER */

footer {
    height: 150px;
    background-color: white;
}

footer img:first-child {
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}

footer img:nth-child(2) {
    top: 0;
    left: 50px;
    bottom: 0;
    margin: auto;
}

footer img:nth-child(3) {
    top: 0;
    left: 100px;
    bottom: 0;
    margin: auto;
}

footer img:last-child {
    top: 0;
    left: 150px;
    bottom: 0;
    margin: auto;
}

footer h1 {
    color: rgb(96, 96, 96);
    position: absolute;
    top: 65px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
}

footer span {
    font-weight: 900;
}

.copyright {
    color: rgb(96, 96, 96);
    position: absolute;
    top: 68px;
    left: 0;
    bottom: 0;
    margin: auto;
}


/* ****************************************************************** */