@import 'modules/variables';
.nav__about-us {
    position: relative;
    display: inline-block;
    margin-right: 41px;
    span {
        color: white;
        margin-top: 14px;
        font-weight: 600;
        display: block;
        font-family: 'Raleway', sans-serif;
        text-transform: uppercase;
        transition: text-shadow 0.2s;
        &:hover {
            text-shadow: 0 0 8px white;
        }
    }
    .dropdown-content {
        visibility: hidden;
        position: absolute;
        background-color: black;
        min-width: 160px;
        box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        font-family: 'Raleway', sans-serif;
        top: 38px;
        left: -38px;
        
        a {
            color: white;
            text-align: center;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            transition: background 0.2s;
            &:hover {
                background-color: $lightGray;
                color: black;
            }
        }
    }
    &:hover .dropdown-content {
        visibility: visible;
    }
}