@import 'modules/variables';
@import 'partials/dropdown-top';
nav {
    width: 500px;
    border: $borderRed;
    display: flex;
    flex-direction: row-reverse;
}

.nav__contact,
.nav__gallery {
    color: white;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    margin-top: 14px;
    font-weight: 600;
}

.nav__contact {
    margin-right: 81px;
}

.nav__gallery {
    margin-right: 30px;
}